html,body{
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
}

img {
    width: 3rem;
    display: block;
}

.item {
    box-shadow: 2px 2px 2px #999;
    position: absolute;
}
.item:hover{
    box-shadow: 0 5px 5px #6892aa;
}
.item div{
    display: inline-block;
    width: 2rem;
    font-size: 1rem;
    font-size: 0.3rem;
    text-align: center;
    height: auto;
}
#isshow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999999;
    background: black;
    overflow: scroll;
}
#isshow img{
    width: 100%;
}
#isshow .btn{
    width: 0.6rem;
    height: 0.6rem;
    /*margin-top: 14%;*/
}
#isshow .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head{
    height: 5%;
    width: 96%;
    font-size: 0.5rem;
    background: #212E31;
    color: #B8C7CE;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#box{
    margin: 0 auto;
    margin-left: 2.5%;
}
a{
    text-decoration: none;
    color: #B8C7CE;
    font-size: 0.2rem;
}
.content{
    width: 100%;
    margin-top: 14%;
}
@media screen and (min-width:1000px) {
    .head{
        height: 5%;
        width: 100%;
        font-size: 0.5rem;
        background: #212E31;
        color: #B8C7CE;
        padding: 0.2rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
    }
    #tel{
        margin-right: 30px;
    }
    .content{
        margin-top: 6%;
    }
   #isshow .right{
        margin-right: 90px;
    }
}